@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@900&display=swap);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;700;900&display=swap);
  font-weight: 300;
  font-style: normal;
}
